.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar .logo {
  width: max(10%, 80px);
}

.navbar .profile {
  width: 40px;
}

.navbar button {
  background-color: gray;
  color: white;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 20px;
}
