.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/green-bg.png") no-repeat;
  background-size: contain;
  position: relative;
  background-position: right;
  display: flex;
}

.header img {
  width: 450px;
  position: relative;
  align-items: center;
  margin-top: 60px;
  margin-left: 100px;
}

.header-content {
  position: absolute left;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 40%;
  bottom: 10%;
  left: 6vw;
  animation: fadein 3s;
}

.header-content h2 {
  padding-top: 50px;
  color: black;
  font-size: max(2.9vw, 16px);
  font-weight: 500;
}

.header-content p {
  color: black;
  font-size: 1vw;
}

.header-content button {
  border: none;
  color: white;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #39db4a;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}

.header-content button:hover {
  transform: scale(1.05);
  background-color: black;
}

@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-content {
    max-width: 65%;
  }
  .header-content p {
    display: none;
  }
  .header-content button {
    padding: 2vw 4vw;
  }
}
